[user]
  name = Michael Cindric
  email = michael.cindric@sentia.com.au
[color]
  ui = true
[core]
  editor = mate -w
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
